.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  color: #a7a7a7;
  font-weight: 300;
  font-size: 1.3rem;
}

.locationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 18rem;
}

.location {
  flex: 1 0 0;
  color: black;
  font-weight: 500;
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  font-weight: 500;
  font-size: 1.6rem;
  color: black;
  cursor: pointer;
}
