.imgContainer {
  width: 100%;
  height: 15rem; /* Set the desired height of the carousel container */
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  border-radius: 8px;
}

.carousel {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%); /* Start with all images hidden to the left of the container */
  transition: transform 0.5s ease-in-out; /* Apply a transition for a smooth slide effect */
}

.carousel.active {
  transform: translateX(0); /* Slide the active image into view */
}

.carousel.prev {
  transform: translateX(100%); /* Slide the previous image from the right to the left */
}
