.imgContainer {
  width: 100%;
  height: 15rem;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  border-radius: 8px;
}

.carousel {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.carousel.active {
  transform: translateX(0);
}

.carousel.prev {
  transform: translateX(100%);
}
