.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btnSet {
  padding: 1rem;
  color: rgb(15, 98, 15);
  border-radius: 8px;
  margin-right: 1rem;
  cursor: pointer;
  border: 1px solid rgb(15, 98, 15);
  font-size: 1.2rem;
  font-weight: 400;
  white-space: nowrap;
}

.btnCurrent {
  padding: 1rem;
  color: orange;
  border-radius: 8px;
  margin-right: 1rem;
  cursor: pointer;
  border: 1px solid Orange;
  font-size: 1.2rem;
  font-weight: 400;
  white-space: nowrap;
}
